body, h1, h2, p {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif, Calibri;
	font-size: 16px;
}

header {
	height: 100vh;
	position: relative;
	background: #0e131c url("../img/main_bg.jpg") no-repeat center center fixed;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #e6e6e6;
}

main {
	color: #454754;
	text-align: center;
}

footer {
	background-color: #0e131c;
	color: #f9f9f9;
	line-height: 2;
	position: relative;
}

.container, #about, #menu, #reservation, #info, #copyright {
	width: 80%;
	margin: 0 auto;
}

/* Header */

nav {
	font-size: 13px;
}

nav a {
	margin: 0 10px;
	padding-bottom: 3px;
}

nav a:nth-of-type(5) {
	margin-right: 0;
}

nav a.active {
	border-bottom: 2px solid #e6e6e6;
}

.container {
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	transition: all .7s ease-in-out;
	/* border: 1px solid yellow; */
	box-sizing: border-box;
}

.container.fixed_menu {
	background-color: #0e131c;
	border-bottom: 1px solid #d3a261;
	width: 100%;
	position: fixed;
	top: 0%;
	padding: 10px 40px;
	transition: all .7s ease-in-out;
	z-index: 5;
}

/* Hamburger Menu (continued in the media queries section) */

.menu_icon {
	display: none;
	cursor: pointer;
}

.gradient {
	width: 100%;
	height: 200px;
	background: linear-gradient(to bottom, #0e131c, transparent);
}

#logo {
	border-bottom: 2px solid #e6e6e6;
	letter-spacing: 3px;
	font-size: 25px;
}

#logo a {
	color: #e6e6e6;
}

.welcome_container {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	color: #f9f9f9;

}

.highlight {
	color: #d3a261;
	font-family: 'Allura', cursive, Calibri, sans-serif;
	text-transform: none;
	font-size: 60px;
}

.brand, .topic {
	letter-spacing: 15px;
	margin-top: -30px;
	font-weight: 900;
	font-size: 35px;
}

header .symbol {
	color: #d3a261;
	font-size: 20px;
	display: block;
	position: relative;
	margin-top: -5px;
	margin-bottom: 5px;
}

header .symbol:before, header .symbol:after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 60%;
	transform: translateY(-50%);
	height: 2px;
	width: 40%;
	background-color: #f9f9f9;
}

header .symbol:before {
	margin-right: 10px;
	left: 0;
}

header .symbol:after {
	margin-left: 10px;
	right: 0;
}


header h2 {
	font-size: 15px;
	letter-spacing: 5px;
}

/* Main */

section#about, section#menu, section#reservation {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 80px;
}

.content {
	box-sizing: border-box;
	padding: 40px;
	width: 50%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.topic {
	letter-spacing: 10px;
	text-transform: uppercase;
}

.content a{
	color: #d3a261;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 2px;
	border-bottom: 2px solid #d3a261;
}

.content h2 {
	margin-top: 20px;
}

.content p:nth-of-type(2) {
	line-height: 1.8;
}

.symbol {
	color: #74788e;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_container {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

section img {
	width: 60%;
	min-width: 300px;
}

#menu .img_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px 20px;
}

#menu img {
	width: 100%;
	min-width: 50px;
}

.align_end {
	align-self: end;
}

.align_start {
	align-self: start;
}

#reservation .img_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px 20px;
}

#reservation img {
	width: 100%;
	min-width: 50px;
	max-width: 320px;
}

/* Dividers */

.divider {
	height: 500px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.divider .topic {
	color: #f9f9f9;
}

main section:nth-of-type(2) {
	background: #24324a url(../img/bread.jpg) no-repeat center center fixed;
	background-size: cover;
}

main section:nth-of-type(4) {
	background: #24324a url(../img/cookies.jpg) no-repeat center center fixed;
	background-size: cover;
}

/* Footer */

.copyright_container {
	width: 100%;
	background-color: #393b46;
}

#info {
	display: flex;
	justify-content: space-between;
	min-height: 200px;
}

#info h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}

#info p {
	font-size: 13px;
}

#info > div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

#locations {
	width: 35%;
}

#hours {
	width: 50%;
}

.address_container, .open_container {
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

#copyright p {
	font-size: 12px;
}

#copyright {
	min-height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dot {
	padding: 0 10px;
	font-size: 20px;
}

#top {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: -25px;
	transform: translateX(-50%);
	background-color: #fff;
	color: #0e131c;
	line-height: normal;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#top p {
	font-size: 12px;
}

#top a {
	color: #0e131c;
}

p#arrow {
	transform: rotate(90deg);
	font-size: 18px;
}

.address1 {
	padding-right: 30px;
}

/* Media queries */

@media all and (max-width: 575px) {
	.divider {
		height: 400px;
	}
	
	#copyright p {
		font-size: 10px;
	}
	
	#info {
		flex-flow: column nowrap;
	}
	
	#locations, div#hours {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	
	div#locations, .address_container {
		flex-flow: column nowrap;
	}
	
	div#hours {
		margin-top: 30px;
	}
	
	div#locations {
		margin-top: 20px;
	}
	
	.address1 {
		padding-right: 0;
	}
}

@media all and (max-width: 700px) {
	
	nav {
		display: none;
	}
	
	#open_menu.show, #close_menu.show {
		display: block;
		z-index: 5;
	}
	
	#logo {
		z-index: 5;
	}
	
	.container.show_menu {
		width: 100%;
		height: 100vh;
		/* we need these for when the page is in the welcome section, where the fixed_menu class is no longer active */
		padding: 10px 40px;
		position: fixed;
		top: 0;
		z-index: 5;
		/* resetting the following ones */
		transition: none;
		border-bottom: none;
		background-color: rgba(0, 0, 0, .9);
		align-items: flex-start;
	}
	
	nav.show_menu { 
		position: absolute;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		/* because the parent container has some padding, we need to get it out */
		margin: -10px 0 0 -40px;		
	}
	
	nav.show_menu a {
		margin-bottom: 10px;
	}
	
	nav.show_menu a:nth-of-type(5) {
		margin-right: 10px;
	}

}

@media all and (max-width: 767px) {
	
	section#about, section#menu, section#reservation {
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
	}
	
	.content, .img_container {
		width: 100%;	
	}
	
	section#about {
		margin-bottom: 40px;
	}
	
	section#menu {
		margin-top: 40px;
	}
	
	section#reservation {
		margin-bottom: 60px;
	}
	
	.open_container div:nth-of-type(2) {
		margin-top: 20px;
	}
	
	#locations {
		align-self: flex-start;
	}
	
	.open_container {
		flex-flow: column nowrap;
	}
	
	#info {
		justify-content: center;
	}
	
	#hours {
		width: 28%;
		padding-left: 20%;
	}
}

@media all and (max-width: 990px) {
	#copyright p {
		font-size: 12px;
	}
	
	#copyright {
		flex-flow: column nowrap;
		padding: 25px 0;
	}
	
	#copyright div {
		width: 80%;
		text-align: center;
	}
}

@media all and (min-width: 768px) and (max-width: 990px) {
	section#about, section#menu, section#reservation {
		margin-top: 40px;
		margin-bottom: 40px;
	}
}

@media all and (max-width: 1097px) {
	.open_container div:nth-of-type(3) {
		width: 100%;
	}
	
	.address2, .open_container div:nth-of-type(3) {
		margin-top: 20px;
	}
	
	#info {
		padding: 40px 0;
	}
}

